        h4,
        h5,
        h6,
        h1,
        h2,
        h3 {
            margin-top: 0;
        }
        
        ul,
        ol {
            margin: 0;
        }
        
        p {
            margin: 0;
        }
        
        html,
        body {
            font-family: 'Raleway', sans-serif;
            font-size: 100%;
            background: #fff;
        }
        
        body a {
            transition: 0.5s all;
            -webkit-transition: 0.5s all;
            -o-transition: 0.5s all;
            -ms-transition: 0.5s all;
            -moz-transition: 0.5s all;
        }
        
        #top-header {
            background: #f4c842;
        }
        
        #bot-header {
            background: #E0E0E0;
        }
        
        .header_top {
            background: #E0E0E0;
            height: 50px;
            width: 100%;
        }
        
        .span_1 {
            background: #f4c842;
            padding: 33px;
            margin-left: 0;
            height: 120px;
            position: relative;
        }
        
        .logo {
            text-align: center;
        }
        
        #logo {
            position: absolute;
            bottom: 25px;
            left: 20px;
        }
        
        .row_2 {
            background: #f4c842;
            padding: 34px;
            margin-right: 0;
        }
        
        .search {
            width: 60%;
        }
        
        .search input[type="search"] {
            padding: 15px;
            outline: none;
            color: #B6B2AE;
            background: #fff;
            border: 1px solid #f8d5d1;
            width: 85%;
            line-height: 1.5em;
            font: 500 15px/15px 'Raleway', sans-serif;
            -webkit-appearance: none;
        }
        
        .search input[type="submit"] {
            background: url('../images/search.png') no-repeat 24px 10px #e05b5b;
            padding: 12.5px 38px;
            border: none;
            cursor: pointer;
            position: absolute;
            outline: none;
        }
        
        ul#menu-right {
            list-style: none;
            float: right;
            padding: 0;
            margin: 0;
        }
        
        ul#menu-right>li {
            display: inline-block;
            margin: 0 5px;
        }
        
        .clearfix {
            width: 150px;
        }
        
        ul li.bag.drop-down {
            padding: 0;
            margin: 0;
            width: 150px;
            position: relative;
        }
        
        ul li.acc.drop-down {
            padding: 0;
            margin: 0;
            width: 80px;
            position: relative;
        }
        
        ul li.bag a:hover,
        ul li.acc a:hover {
            text-decoration: none;
        }
        
        button.btn.bag_left.btn-secondary.dropdown-toggle {
            width: 150px;
            height: 46px;
            background: url(../images/bag.png)no-repeat 29px 6px #e05b5b;
            background-position: 15% 30%;
            float: left;
        }
        
        li.acc button.btn.btn-secondary.dropdown-toggle {
            width: 80px;
            height: 46px;
            background: url(../images/account.png)no-repeat 26px 6px #e05b5b;
            float: left;
        }
        
        #bag-text {
            text-align: right;
            padding-right: 5px;
            color: #fff;
        }
        
        a.dropdown-item .button-login {
            background-color: #ffab23;
            font-family: Arial, Helvetica, sans-serif;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            margin: 5px 8px;
            width: 200px;
            font-weight: bold;
        }
        
        a.dropdown-item .manage {
            font-family: Arial, Helvetica, sans-serif;
            border: none;
            color: black;
            padding: 15px 32px;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
        }
        
        a.dropdown-item .manage:hover {
            color: #EF6C00;
        }
        
        a.dropdown-item .order {
            font-family: Arial, Helvetica, sans-serif;
            border: none;
            color: black;
            padding: 15px 32px;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
        }
        
        a.dropdown-item .order:hover {
            color: #EF6C00;
        }
        
        a.dropdown-item .like {
            font-family: Arial, Helvetica, sans-serif;
            border: none;
            color: black;
            padding: 15px 32px;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
        }
        
        a.dropdown-item .like:hover {
            color: #EF6C00;
        }
        
        a.dropdown-item .button-reg {
            background-color: #00dd00;
            font-family: Arial, Helvetica, sans-serif;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            margin: 5px 8px;
            width: 200px;
            font-weight: bold;
        }
        
        .dropdown-header {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            margin: 0;
        }
        
        li.bag.drop-down .dropdown-menu {
            min-width: 220px;
            display: none;
            position: absolute;
            top: 44px;
        }
        
        li.bag.drop-down:hover .dropdown-menu {
            display: block;
        }
        
        li.acc.drop-down .dropdown-menu {
            min-width: 220px;
            display: none;
            position: absolute;
            top: 44px;
        }
        
        li.acc.drop-down:hover .dropdown-menu {
            display: block;
        }
        
        #Tong {
            text-align: center;
            font-size: 18px;
        }
        
        #Tong strong {
            color: #00cc66;
        }
        
        a.dropdown-item.book-item {
            position: relative;
        }
        
        a.dropdown-item.book-item .detail {
            display: inline-block;
            margin: auto;
            width: 85%;
            padding-top: 5px;
        }
        
        a.dropdown-item.book-item .detail img {
            float: left;
            margin-left: 8px;
        }
        
        a.dropdown-item.book-item .detail ul {
            list-style: none;
            margin-left: 45px;
            padding: 0;
        }
        
        a.dropdown-item.book-item a {
            float: right;
            display: block;
            height: 44px;
        }
        
        .button-bag {
            display: inline-block;
            border-radius: 4px;
            background-color: #f4511e;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 18px;
            padding: 10px;
            width: 200px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px 8px;
        }
        
        a.button-bag:hover {
            color: #FFFFFF;
        }
        
        .button-bag span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }
        
        .button-bag span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
            text-decoration: none;
        }
        
        .button-bag:hover span {
            padding-right: 25px;
        }
        
        .button-bag:hover span:after {
            opacity: 1;
            right: 0;
        }
        /*-------------------------------------------top-header--------------------------------------------------------*/
        
        .header_top div.dropdown {
            position: relative;
            padding: 0;
            height: 50px;
            width: 247px;
        }
        
        .header_top div.dropdown ul.dropdown-content {
            display: none;
            position: absolute;
            background-color: #fff;
            width: 248px;
            z-index: 1;
            top: 100%;
            margin-left: 15px;
            padding: 0;
            border: solid 1px #E0E0E0;
            list-style: none;
        }
        
        .header_top .dropdown:hover .dropdown-content {
            display: block;
        }
        
        .header_top .dropdown .dropdown-content li {
            width: 248px;
        }
        
        .header_top .dropdown .dropdown-content li a.dropbtn {
            padding-top: 5px;
            display: block;
            font-size: 16px;
            border: none;
            cursor: pointer;
            width: 100%;
            height: 32px;
            color: #000;
            text-decoration: none;
            padding-left: 17px;
            color: #5f5f5f;
        }
        
        .header_top .dropdown .dropdown-content li a.dropbtn:hover {
            background: #f4c842;
            color: #fff;
        }
        
        .header_top .dropdown .dropdown-content li a.dropbtn span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            width: 100%;
            transition: 0.5s;
        }
        
        .header_top .dropdown .dropdown-content li a.dropbtn span:after {
            content: '\203A';
            position: absolute;
            opacity: 1;
            top: 0;
            right: 10px;
            transition: 0.5s;
            text-decoration: none;
        }
        
        .header_top .dropdown .dropdown-content li a.dropbtn:hover span {
            padding-left: 20px;
        }
        
        .header_top .dropdown .dropdown-content li a.dropbtn:hover span:after {
            opacity: 0;
            right: 0;
        }
        
        .header_top .dropdown .dropdown-content li .dropdown-content#gk {
            top: -302%;
            left: 99%;
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 260px;
            min-height: 386px;
            z-index: 1;
            border-left: 6px solid #f4c842;
            margin: 0;
        }
        
        .header_top .dropdown .dropdown-content li .dropdown-content#tk {
            top: -402%;
            left: 99%;
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 260px;
            min-height: 386px;
            z-index: 1;
            border-left: 6px solid #f4c842;
            margin: 0;
        }
        
        .header_top .dropdown .dropdown-content li .dropdown-content#vhtn {
            top: -502%;
            left: 99%;
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 260px;
            min-height: 386px;
            z-index: 1;
            border-left: 6px solid #f4c842;
            margin: 0;
        }
        
        .header_top .dropdown .dropdown-content li .dropdown-content#vhnn {
            top: -602%;
            left: 99%;
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 260px;
            min-height: 386px;
            z-index: 1;
            border-left: 6px solid #f4c842;
            margin: 0;
        }
        
        .header_top .dropdown .dropdown-content li .dropdown-content#tt {
            top: -702%;
            left: 99%;
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 260px;
            min-height: 386px;
            z-index: 1;
            border-left: 6px solid #f4c842;
            margin: 0;
        }
        
        .header_top .dropdown .dropdown-content li .dropdown-content#nn {
            top: -802%;
            left: 99%;
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 260px;
            min-height: 386px;
            z-index: 1;
            border-left: 6px solid #f4c842;
            margin: 0;
        }
        
        .header_top .dropdown .dropdown-content li .dropdown-content#stn {
            top: -902%;
            left: 99%;
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 260px;
            min-height: 386px;
            z-index: 1;
            border-left: 6px solid #f4c842;
            margin: 0;
        }
        
        .header_top .dropdown .dropdown-content li .dropdown-content#kns {
            top: -1002%;
            left: 99%;
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 260px;
            min-height: 386px;
            z-index: 1;
            border-left: 6px solid #f4c842;
            margin: 0;
        }
        
        .header_top .dropdown .dropdown-content li .dropdown-content#nph {
            top: -1102%;
            left: 99%;
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 260px;
            min-height: 386px;
            z-index: 1;
            border-left: 6px solid #f4c842;
            margin: 0;
        }
        
        .header_top .dropdown .dropdown-content li.dropdown:hover .dropdown-content#gk,
        .header_top .dropdown .dropdown-content li.dropdown:hover .dropdown-content#tk,
        .header_top .dropdown .dropdown-content li.dropdown:hover .dropdown-content#vhtn,
        .header_top .dropdown .dropdown-content li.dropdown:hover .dropdown-content#vhnn,
        .header_top .dropdown .dropdown-content li.dropdown:hover .dropdown-content#tt,
        .header_top .dropdown .dropdown-content li.dropdown:hover .dropdown-content#nn,
        .header_top .dropdown .dropdown-content li.dropdown:hover .dropdown-content#stn,
        .header_top .dropdown .dropdown-content li.dropdown:hover .dropdown-content#kns,
        .header_top .dropdown .dropdown-content li.dropdown:hover .dropdown-content#nph {
            display: block;
        }
        
        .header_top .dropdown .dropdown-content li.dropdown ul.dropdown-content li a:hover {
            color: #feaa00;
        }
        
        .header_top div.dropdown ul.dropdown-content li.dropdown li {
            padding: 5px;
            font-size: 16px;
            width: 260px;
            list-style: none;
        }
        
        .header_top div.dropdown ul.dropdown-content li.dropdown a {
            padding-left: 17px;
            color: #5f5f5f;
            text-decoration: none;
        }
        
        #category-header {
            position: relative;
            width: 247px;
            float: left;
            background: #fff;
            color: #000;
            padding-right: 10px;
            position: relative;
            height: 50px;
            line-height: 27px;
            text-align: center;
            margin-left: 15px;
        }
        
        #category-header i {
            float: left;
            padding-top: 15px;
            padding-left: 30px;
            display: block;
        }
        
        #category-header p {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
            font-weight: bold;
            padding-top: 10px;
            display: block;
        }
        
        #category-header span {
            position: absolute;
            width: 10px;
            height: 5px;
            top: 50px;
            right: 10px;
            font-size: 0;
            line-height: 0;
        }
        
        #hotline {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            padding-top: 12px;
        }
        
        .dropbtn .dropdown-content li a:hover {
            color: #feaa00;
        }
        /*-------------------------------------------------start-menu------------------------------------------------------*/
        
        .span9 {
            width: 100%;
        }
        
        .span9#details {
            width: 95%;
        }
        
        .span9#details hr {
            margin-top: 0;
            margin-bottom: 15px;
        }
        
        .span9#details h3 {
            margin-bottom: 5px;
            margin-top: 10px;
        }
        
        .breadcrumb {
            width: 95%;
            background: none;
            padding-left: 0;
            padding-top: 20px;
            padding-bottom: 0;
        }
        
        .span6 {
            min-width: 800px;
            position: relative;
        }
        
        .span6 h3 {
            padding-left: 10px;
        }
        
        .span6 small {
            padding: 10px;
            padding-right: 50px;
        }
        
        .span6 small#hinhthuc {
            padding-right: 0;
        }
        
        .span6 small a {
            color: #FF9800;
        }
        
        .span6 hr {
            margin-top: 5px;
            margin-bottom: 5px;
        }
        
        .span6 p#comment {
            padding: 10px;
            padding-right: 129px;
            float: left;
        }
        
        .span6 p#comment a {
            color: black;
        }
        
        .span6 p#comment a:hover {
            color: #FF9800;
        }
        
        .span6 p#favorite {
            padding: 10px;
        }
        
        .span6 p#favorite a {
            color: black;
        }
        
        .span6 p#favorite a:hover {
            color: #FF9800;
        }
        
        .control-group {
            max-width: 100%;
            padding-left: 10px;
        }
        
        a#muangay {
            font-size: 25px;
            position: absolute;
            right: 0;
            top: 120px;
            width: 200px;
            font-weight: bold;
            background: #FF5722;
            border: none;
        }
        
        label#gia {
            color: #FF9800;
        }
        
        p#giabia {
            padding-left: 10px;
            float: left;
            padding-right: 60px;
        }
        
        .khuyenmai {
            padding: 10px;
        }
        
        .khuyenmai i,
        .khuyenmai strong {
            color: limegreen;
        }
        
        a#chitiet:hover {
            text-align: center;
            text-decoration: none;
            background: #E0E0E0;
        }
        
        a#chitiet:visited {
            color: blue;
        }
        
        ul#bookDetail {
            padding-top: 20px;
        }
        /*-------------------------------------------------book-details------------------------------------------------------*/
        
        div#myTabContent h3 {
            padding-top: 20px;
            margin: 0;
        }
        
        div#myTabContent hr {
            margin-top: 5px;
            margin-bottom: 10px;
        }
        
        div#myTabContent p {
            padding: 5px 0;
            line-height: 1.5em;
            margin: auto;
            text-align: justify;
        }
        
        div#myTabContent a:hover {
            text-decoration: none;
            color: black;
        }
        
        #profile {
            padding-top: 10px;
        }
        
        #profile hr {
            width: 100%;
            margin-top: 10px;
        }
        
        #myTab a i {
            padding: 3px;
            font-size: 16px;
        }
        
        div#home,
        div#profile {
            min-height: 900px;
        }
        
        #listView img {
            height: 300px;
            width: 200px;
        }
        
        #listView #mua {
            color: white;
            background: #FF9800;
            display: inline-block;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            outline: none;
            border: none;
            border-radius: 5px;
            margin-left: 20px;
            width: 150px;
            height: 40px;
            font-size: 16px;
            font-weight: bold;
        }
        
        .span4 {
            margin-left: 50px;
            width: 77%;
        }
        
        #blockView ul {
            list-style: none;
            display: inline-block;
            padding: 0;
        }
        
        #blockView .thumbnail {
            border: none;
            width: 200px;
        }
        
        #blockView img {
            width: 163px;
            height: 212px;
            margin: 0;
        }
        
        #blockView .slide-copy h4 {
            margin-top: 10px;
        }
        
        #blockView .slide-copy a.add {
            color: white;
            background: #FF9800;
            display: inline-block;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            outline: none;
            border: none;
            border-radius: 5px;
            padding: 8px;
            width: 150px;
            font-weight: bold;
        }
        
        #blockView .slide-copy a.add:hover {
            background: #EF6C00;
        }
        
        #blockView li {
            width: 200px;
            margin-left: 70px;
        }
        
        #blockView .slide-copy {
            width: 163px;
            min-height: 152px;
        }
        
        #blockView button:hover {
            background: #EF6C00;
        }
        
        div#center {
            text-align: center;
        }
        
        a#muangay-2 {
            font-size: 25px;
            width: 200px;
            font-weight: bold;
            background: #FF5722;
            border: none;
            margin-right: 70px;
        }
        
        #center a#muangay-2:hover {
            color: white;
        }
        /*-------------------------------------------------tab-contents------------------------------------------------------*/
        
        footer {
            background: #202020;
            color: white;
            padding: 28px 0 44px;
            margin-top: 40px;
            border-top: 1px solid #444;
        }
        
        footer p {
            padding-top: 5px;
        }
        
        footer a {
            color: #ccc;
            padding-top: 5px;
            line-height: 24px;
            display: block;
        }
        
        footer a:hover {
            color: #fff;
        }
        
        footer #socialMedia {
            padding: 0;
            margin: 0;
        }
        
        footer #socialMedia a {
            min-width: 25px;
            display: inline;
            margin-right: 6px;
            text-align: center;
            line-height: 1.5em;
        }
        
        footer #socialMedia img {
            max-width: 60px;
        }
        
        footer #socialMedia a:hover {
            background: none;
        }
        
        footer #address p {
            text-align: center;
        }
        /*--------------------------------------------------Footer----------------------------------------------------*/
        
        #commenttext {
            width: 100%;
            z-index: auto;
            position: relative;
            line-height: normal;
            font-size: 13px;
            transition: none;
            background: transparent !important;
        }
        
        #btncomment {
            margin-top: 10px;
            padding: 15px 30px 15px 30px;
            float: right;
            color: white;
            background: #FF5722;
            border-color: #FF5722;
            border-radius: 5px;
        }
        
        #btncomment:hover {
            background: #FF9800;
            border-color: #FF9800;
        }