<!DOCTYPE <html>
<html>

<head>
  <title>
      <%= title %>
  </title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/booktype.css" rel="stylesheet">
    <link href="/stylesheets/order.css" rel="stylesheet">
    <link href="/stylesheets/sidebar.css" rel="stylesheet">
    <link href="/stylesheets/breadcrumb.css" rel="stylesheet">
    <link href="/stylesheets/paging.css" rel="stylesheet">
    <link href="/stylesheets/searchbar.css" rel="stylesheet">
    <script src="/javascripts/lumino.glyphs.js"></script>
    <!--==================================================-->
    <script src="/javascripts/pagination.js"></script>
    <script src="/javascripts/goback.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div id="wrapper" class="container-fluid">
          <div class="row">
              <% include ./partials/sidebar.ejs %>

          </div>

            <div id="container">
                <div class="content col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                    <div class="row">
                        <ol class="breadcrumb">
                            <li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
                            <li class="active">Đơn hàng</li>
                        </ol>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Đơn hàng</h1>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table" id="statistic-table">
                            <tbody>
                                <tr>
                                    <td>Tổng số đơn hàng: </td>
                                    <td>
                                        <div id="totalorder">
                                            4
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Số đơn hàng đã xử lí: </td>
                                    <td>
                                        <div id="processedorder">
                                            3
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Số đơn hàng chưa xử lý: </td>
                                    <td>
                                        <div id="unprocessedorder">
                                            1
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr style="height: 6px; background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;border: 0;">
                        <form>
                            <input type="text" name="search" placeholder="Tìm.." class="searchbar">
                        </form>
                    <hr style="height: 6px; background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;border: 0;">
                    <div class="table-responsive">

                        <table class="table panel" id="order-table" align="center">
                            <thead>
                                <tr>
                                    <th>Mã đơn hàng</th>
                                    <th>Khách hàng</th>
                                    <th>Trạng thái</th>
                                    <th>Ngày đặt</th>
                                    <th>Tổng tiền</th>
                                    <th>Chi tiết</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>00001</td>
                                    <td>Đã giao <i class="fa fa-check-circle-o fa-lg" aria-hidden="true"></i></td>
                                    <td>01/17/2017</td>
                                    <td>40000 VND</td>
                                    <td><a href="/orderdetail" class="orderdetail"><i class="fa fa-arrow-right fa-lg" aria-hidden="true"></i></a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>00001</td>
                                    <td>Đang giao <i class="fa fa-spinner fa-pulse fa-lg"></i></td>
                                    <td>01/17/2017</td>
                                    <td>10000 VND</td>
                                    <td><a href="#" class="orderdetail"><i class="fa fa-arrow-right fa-lg" aria-hidden="true"></i></a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>00001</td>
                                    <td>Không nhận <i class="fa fa-times-circle-o fa-lg" aria-hidden="true"></i></td>
                                    <td>01/17/2017</td>
                                    <td>10000 VND</td>
                                    <td><a href="#" class="orderdetail"><i class="fa fa-arrow-right fa-lg" aria-hidden="true"></i></a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>00003</td>
                                    <td>Chưa xử lý <i class="fa fa-bolt fa-lg" aria-hidden="true"></i></td>
                                    <td>01/17/2017</td>
                                    <td>10000 VND</td>
                                    <td><a href="#" class="orderdetail"><i class="fa fa-arrow-right fa-lg" aria-hidden="true"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                        <!--div id="pagination">
                        </div-->
                    </div>
                </div>
            </div>

        </div>

</body>

</html>
