            <div class="container">
                <div class="row">
                    <div class="span3">
                        <h4><b> Hỗ trợ khách hàng </b></h4>
                        <p>Hotline: <b>0123. 456. 7890</b></p>
                        <p>Email: info@goofy.vn</p>
                    </div>
                    <div class="span3">
                        <h4><b> Hướng dẫn </b></h4>
                        <a href="huong_dan_mua_hang.htm" title="Hướng dẫn mua hàng " target="_self ">Hướng dẫn mua hàng</a>
                        <a href="phuong_thuc_thanh_toan.htm" title="Phương thức thanh toán " target="_self ">Phương thức thanh toán</a>
                        <a href="cau_hoi_thuong_gap.htm" title="Câu hỏi thường gặp " target="_self ">Câu hỏi thường gặp</a>
                    </div>
                    <div class="span3">
                        <h4><b> Tài khoản </b></h4>
                        <a href="login.htm " title="Tài khoản " target="_self ">Tài khoản</a>
                        <a href="login.htm " title="Danh sách đơn hàng " target="_self ">Danh sách đơn hàng</a>
                    </div>
                    <div id="socialMedia" class="span3 pull-right">
                        <h4><b> LIÊN HỆ </b></h4>
                        <a href="#"><img width="60" height="60" src="/images/facebook.png" title="facebook" alt="facebook" /></a>
                        <a href="#"><img width="60" height="60" src="/images/twitter.png" title="twitter" alt="twitter" /></a>
                        <a href="#"><img width="60" height="60" src="/images/youtube.png" title="youtube" alt="youtube" /></a>
                    </div>
                </div>
                <hr>
                <div id="address">
                    <p> Copyright © 2017 G4-Goofy</p>
                    <p> Địa chỉ: 227, Nguyễn Văn Cừ, Phường 4, Quận 5, TP. Hồ Chí Minh </p>
                </div>
            </div>